html {
    height: 100%;
}
body {
    height: 100%;    
} 
#map-canvas { 
    height: 100%;   
    margin: 0; 
    padding: 0;
}

#delete-btn {
    margin-left: 10px;
}

#navbar {
    margin-bottom: 0;
}

label {
    margin-top: 5px;
}